@model IEnumerable<Common.Product>
@{
    ViewBag.Title = "Browse Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Browse Items</h2>
<div id="recent-products">
    <div id="recent-added">
        @foreach (var item in Model)
        {
            string x = item.ProductID.ToString();
            
            <a href="/product/details?prodid=@Url.Content(x)">
            <div class="recent-product fleft">
                <img src= "@Url.Content(item.ProductImage)" style="width:100%; height:285px;" />
                <div class="recent-product-name">@Url.Content(item.ProductName)</div>
            </div>
            </a>

        }
    </div>
</div>
