@if(Request.IsAuthenticated) {
    <text><p>Welcome @User.Identity.Name |
    @Html.ActionLink("Log out", "Logoff", "Home") </p></text>
}
else {
    @:@Html.ActionLink("Register", "Register", "Home") | @Html.ActionLink("Login", "Login", "Home") 
}
