@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Tools</h2>

<p>
- @Html.ActionLink("User listing", "userlist", "admin")
<br />
- @Html.ActionLink("Role listing", "rolelist", "admin")
<br />
- @Html.ActionLink("Product listing", "productlist", "admin")
</p>