<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SEshopEntities" connectionString="metadata=res://*/SEDB.csdl|res://*/SEDB.ssdl|res://*/SEDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=warbook-pc\sqlexpress;initial catalog=SEshop;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>