@{
    ViewBag.Title = "Home Page";
}



        <div id="recent-products">
            <div id="rp-title">
                RECENT <b>products</b></div>
            <div id="recent-added">
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
                <div class="recent-product fleft">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>

        <br />
<!--
<h2>@ViewBag.Message</h2>

<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

-->