@{
    ViewBag.Title = "Home Page";
}
<div id="recent-products">
    <div id="rp-title">
        RECENT <b>products</b></div>
    <div id="recent-added">
        @Html.Action("recentProduct", "Product")
    </div>
</div>
<div class="clear">
</div>
<br />

